body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.recipe, .search-results {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.recipe h2, .search-results h2 {
    color: #333;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: 0 none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
